@page "/BmiCalculator/english"
@* https://www.cdc.gov/healthyweight/assessing/bmi/adult_bmi/english_bmi_calculator/bmi_calculator.html *@
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h3>Adult BMI Calculator</h3>
            </div>
            <div class="card-body">
                <div>
                    <div class="mb-3">
                        <label class="form-label">Height:Inches</label>
                        <input type="text"
                               class="form-control" id="height"
                               placeholder="Height"
                               @bind="@_heightText"
                               @oninput="@(ui => OnHeightTextChanged(ui.Value))">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Weight:Pounds</label>
                        <input type="text"
                               class="form-control"
                               placeholder="Weight"
                               @bind="@_weightText"
                               @oninput="@(ui => OnWeightTextChanged(ui.Value))">
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary" @onclick="CalculateBMI">Calculate BMI</button>
                        <button class="btn btn-primary">Save BMI</button>
                    </div>
                    <h3 class="mb-3">
                        <label class="form-label">BMI:@_currentBMI</label>
                    </h3>
                </div>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>

@code {

    private double? _currentBMI;
    private string _heightText = "70";
    private string _weightText = "200";

    private void OnHeightTextChanged(object? newValue)
    {
        _heightText = newValue as string ?? "0";
    }

    private void OnWeightTextChanged(object? newValue)
    {
        _weightText = newValue as string ?? "0";
    }

    private void CalculateBMI()
    {
        if (!double.TryParse(_heightText, out var height) || !double.TryParse(_weightText, out var weight))
        {
            _currentBMI = null;
            return;
        }
        _currentBMI = weight * 703 / (height * height);
    }
    private void SaveBMI()
    {
        if (!_currentBMI.HasValue)
        {
            return;
        }
        // save BMI to database
    }
}
